/* .card {
  box-sizing: border-box;
  width: 180px;
  height: 200px;
  background: rgba(136, 22, 22, 0.705);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: rgb(230, 166, 166);
}

.card:hover {
  border: 1px solid rgb(170, 131, 3);
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
} */


.cardImage {
    align-items: center;
      width: 113px;
      height: 114px;
}




.card {
  box-sizing: border-box;
  width: 180px;
  height: 220px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-left: 20%;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5px;
  margin: 5%;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}